# dockerpoc-chart/.helmignore
# Patterns to ignore when building packages.
# This will be ignored by packaging systems like Helm.

*.swp
*.swo
*~
*.bak
*.tmp
*.orig
notes.md
README.md # If you have a separate README for the chart itself